.boxes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 960px;
  height: 960px;
  flex: 1;
}

.box {
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px;
  margin: 0;
  text-align: center;
}